<h1>{{ title }}</h1>

<form>
  <div class="form-group">
    <label for="nombreCliente">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="nombreCliente"
      [(ngModel)]="cliente.nombre"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  <div class="form-group">
    <label for="saldoCliente">Saldo</label>
    <input
      type="number"
      class="form-control"
      id="saldoCliente"
      [(ngModel)]="cliente.saldo"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  <button class="btn btn-success" (click)="abrirCuenta()">Abrir Cuenta</button>
</form>

<div>
  <h1>Saldo</h1>
  {{ cliente.saldo }}
  <button class="btn btn-success">Consignar</button>
  <button class="btn btn-danger">Retirar</button>
</div>

<!-- <li *ngFor="let animal of animales; index as i">
  {{ animal }}
  <button class="btn btn-danger" (click)="removerAnimal(i)">Remover</button>
</li> -->
